---
import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="Semi-Private Programming Notes"
    description="Notes that I wrote specifically for myself, not intended for public consumption. But since there's nothing really stopping these notes from being public, I figured I may as well put them up in some form. Maybe you'll find these useful or inspiring?"
    keywords={["homepage"]}
>
    <p>Everything in this page is specifically for myself, not intended for public consumption. But since there's nothing really stopping these notes from being public, I figured I may as well put them up in some form. Maybe you'll find these useful or inspiring?</p>

    <h2>Index</h2>

    <p><ul>
        <li><a href="./dsa-summary/"><b>Common Algorithm Programming Techniques Summary</b></a></li>
        <li><a href="./concurrency/"><b>Concurrency</b></a></li>
        <li><a href="./haskell/"><b>Haskell</b></a></li>
        <li><a href="./kubernetes/"><b>Kubernetes</b></a></li>
    </ul></p>
</Layout>

