---
---

<table class="general">

<thead>
    <tr>
        <th>Level</th>
        <th>Strength</th>
        <th>Hitpoints</th>
        <th>Defence</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>2025-12-25</td>
        <td>2025-12-25</td>
        <td>2025-12-25</td>
    </tr>
    <tr>
        <td> &vellip;</td>
        <td>   &vellip;</td>
        <td>   &vellip;</td>
        <td>   &vellip;</td>
    </tr>
    <tr>
        <td>88</td>
        <td>2026-01-09</td> <!-- Strength -->
        <td>2026-01-17</td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>89</td>
        <td>2026-01-09</td> <!-- Strength -->
        <td>2026-01-19</td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>90</td>
        <td>2026-01-09</td> <!-- Strength -->
        <td>2026-01-20</td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>91</td>
        <td>2026-01-11</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>92</td>
        <td>2026-01-12</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>93</td>
        <td>2026-01-12</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>94</td>
        <td>2026-01-13</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>95</td>
        <td>2026-01-14</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>96</td>
        <td>2026-01-15</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>97</td>
        <td>2026-01-16</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>98</td>
        <td>2026-01-17</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
    <tr>
        <td>99</td>
        <td>2026-01-18</td> <!-- Strength -->
        <td></td> <!-- Hitpoints -->
        <td></td> <!-- Defence -->
    </tr>
</tbody>

</table>

