---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="About Me"
    canonical="https://pages.simshadows.com/about"
    author="simshadows"
    description="About me."
    keywords="simshadows, pages, about"
>
    <h2>Other places you can find me</h2>
    <p>
        <a href="https://www.youtube.com/c/simshadows"><b>YouTube (Main Gaming Channel)</b></a><br>
        <a href="https://www.youtube.com/channel/UCkMf8rvJ-oKfkNKbKmR3v8Q"><b>YouTube (Second Gaming Channel)</b></a><br>
        <a href="https://www.youtube.com/channel/UCDFNbrzQY5esRMLnRMELvPQ"><b>YouTube (Third Gaming Channel)</b></a><br>
        <a href="https://www.youtube.com/channel/UC0BZgs9YK4DGqEDP5ogC0KA"><b>YouTube (Fourth Gaming Channel)</b></a><br>
        <a href="https://www.youtube.com/channel/UC1yttspft0mOAK5eB6ikFaw"><b>YouTube (Main Non-Gaming Channel)</b></a><br>
        <span class="inactive"><a href="https://www.youtube.com/channel/UCjTXJSh3EDxuWQt8b27hTFQ">YouTube (Music Playlisting Channel)</a></span> (inactive)<br>
    </p>
    <p>
        <a href="https://github.com/simshadows"><b>GitHub (@simshadows)</b></a><br>
        <a href="https://gitlab.com/simshadows"><b>GitLab (@simshadows)</b></a><br>
    </p>
    <p>
        <a href="https://discord.gg/xwV6UN4"><b>Discord</b></a><br>
    </p>
    <p>
        <a href="https://twitter.com/simishadows"><b>Twitter (@simishadows)</b></a><br>
        <a href="https://simishadows.tumblr.com/"><b>Tumblr (@simishadows)</b></a><br>
        <a href="https://mastodon.social/@simshadows"><b>Mastodon (@simshadows@mastodon.social)</b></a><br>
    </p>
    <p>
        <a href="https://myanimelist.net/profile/simshadows"><b>MyAnimeList (simshadows)</b></a><br>
        <a href="https://au.pcpartpicker.com/user/simshadows/saved/"><b>PCPartPicker (simshadows)</b></a><br>
    </p>

    <h2>More External Pages</h2>
    <p>
        <a href="https://www.youtube.com/playlist?list=PLxQR54BjCSigIGVqIsqhOgG6nCyFsuzI1"><b>YouTube Playlist: Saves</b></a> (&rarr; <i>youtube.com</i>)<br>
        <a href="https://www.youtube.com/playlist?list=PLxQR54BjCSiiBT43zEBBLDpGt9uR3RmNF"><b>YouTube Playlist: Candidate Saves</b></a> (&rarr; <i>youtube.com</i>)<br>
        <a href="https://www.youtube.com/playlist?list=PLxQR54BjCSihvQfn3jEijvJFC-dGCsKgP"><b>YouTube Playlist: Computing Conference Saves</b></a> (&rarr; <i>youtube.com</i>)<br>
    </p>
</Layout>

