---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
    title="Own Work"
    canonical="https://pages.simshadows.com/_placeholder-stubs/own-work"
    author="simshadows"
    description="If you were linked to this page, it means the item you clicked on is Sim's original work."
    keywords="simshadows, pages"
>

<style>
    body {
        padding: 0.5em;
    }
</style>


[ <a href="../"><b>Up</b></a> ]
[ <a href="https://github.com/simshadows/simshadows-pages"><b>Source</b></a> ]

<h1>Own Work</h1>

<p>If you were linked to this page, it means the item you clicked on is Sim's original work.</p>

astro

</BaseLayout>

