div.common-integrals-cols {
    width: 100%;
    column-width: 48em;
    column-rule: solid thin var(--color--deemphasis); /* TODO: Better colour? */
}
div.common-integrals-cols > div {
    break-inside: avoid;
    margin: 0;
}

div.common-integrals-frame-1col {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.common-integrals-frame-2col {
    column-width: 23.5em;
}
div.common-integrals-frame-2col > div {
    break-inside: avoid;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

