---
import {
    SOURCE_CODE_URL,
} from "@root/constants";
import BaseLayout from "@layouts/legacy/BaseLayout.astro";

interface Props {
    title: string;
    description: string;
    keywords: string[];
}

const {
    title,
    description,
    keywords,
} = Astro.props;
---

<BaseLayout
    title={title}
    description={description}
    keywords={keywords}
>

    [ <a target="_self" href="/"><b>Home</b></a> ]
    [ <a href={SOURCE_CODE_URL}><b>Source</b></a> ]

    <slot />

    <footer>
        <!-- License notice block provided by <https://creativecommons.org/choose/> -->
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        <!-- End license notice block -->
    </footer>

</BaseLayout>

