---
import {
    AUTHOR,
    COPYRIGHT_YEAR,
    SOURCE_CODE_URL,
} from "@root/constants";
---

<footer id="footer" class="content-column">
    <p id="footer-text">
        &copy; {COPYRIGHT_YEAR} {AUTHOR}. All content on this site is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>
        <br />
        This site's source code is available on <a href={SOURCE_CODE_URL}>GitHub</a>.
        <br />
        <br />
        <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1">
    </p>
</footer>

