---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="Stuff I Use"
    description="Stuff I Use"
    keywords={["favourite", "list", "awesome"]}
>


<p>Call me materialistic, but I'm very happy and proud of the things I own, and I put a lot of thought into what I purchase (or acquire otherwise).</p>

<p>This page serves as a way for me to write down my thoughts on some key belongings I own, written in a format that could be interesting to others. Perhaps this page could serve as a source of purchase recommendations along with context on what I think and how the item fits in my life.</p>

<p>I'm only including stuff that I think are worth talking about. There's otherwise plenty of other stuff that I'm not listing out here. For instance, I own some videogame consoles and controllers, but I don't see a lot of depth in talking about them.</p>

<h2>Portable Electronics</h2>

<p><table class="general">
    <thead>
        <tr>
            <th>Category</th>
            <th>Acquisition Year</th>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Phone</td>
            <td>Q4 2022</td>
            <td>Google Pixel 7 Pro (Hazel), with Bellroy Leather Case ("Simply Taupe")</td>
        </tr>
        <tr>
            <td>Camera</td>
            <td>2013</td>
            <td>Nikon D5200 (DSLR)</td>
        </tr>
        <tr>
            <td>Laptop Computer</td>
            <td>Q4 2021</td>
            <td>
                <p>ASUS ROG Zephyrus G14 GA401Q</p>
                <p><ul class="description rootlevel">
                    <li><span class="item-title">Form Factor:</span> 14" Ultraportable Gaming Laptop</li>
                    <li><span class="item-title">CPU:</span> AMD Ryzen 7 5800HS</li>
                    <li><span class="item-title">RAM:</span> 40GB</li>
                    <li><span class="item-title">GPU:</span> NVIDIA GeForce GTX 1650</li>
                    <li><span class="item-title">OS:</span> Manjaro Linux</li>
                    <li><span class="item-title">Storage:</span> 512GB</li>
                </ul></p>
            </td>
        </tr>
    </tbody>
</table></p>


<h2>Home Office: Desk Setup</h2>

<p><table class="general">
    <thead>
        <tr>
            <th>Category</th>
            <th>Acquisition Year</th>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Desktop Computer</td>
            <td>Q4 2019<br>(with upgrades over time)</td>
            <td>
                <ul class="description rootlevel">
                    <li><span class="item-title">CPU:</span> AMD Ryzen 9 3950X</li>
                    <li><span class="item-title">CPU Cooler:</span> Noctua NH-D15 (Air Cooler)</li>
                    <li><span class="item-title">RAM:</span> 32GB (2x16GB) DDR4 3600MHz CL16</li>
                    <li><span class="item-title">GPU:</span> Nvidia GeForce RTX 4090 <em>(as of 2023)</em></li>
                    <li><span class="item-title">PSU:</span> Corsair RM850x (850W Modular, 80+ Gold)</li>
                    <li><span class="item-title">Case:</span> Fractal Design Define R5 (Mid-Tower)</li>
                    <li><span class="item-title">OS:</span> Windows</li>
                    <li><span class="item-title">Storage:</span> 1TB NVMe PCIe 4.0 SSD, 2TB SATA SSD, and 7TB of HDDs.</li>
                </ul>
                (<a href="https://au.pcpartpicker.com/user/simshadows/saved/HHz2kL">View full specs on PCPartPicker</a>)
            </td>
        </tr>
        <tr>
            <td>Computer Monitors</td>
            <td>Q4 2023</td>
            <td>
                <em>I'm using three monitors, but one monitor is notable:</em><br>
                Gigabyte M27U <em>(4K IPS Panel)</em>
            </td>
        </tr>
        <tr>
            <td>Keyboard (Primary)</td>
            <td>Q1 2023</td>
            <td>
                <p>I change my parts occasionally, but here's my current daily driver:</p>
                <p><ul class="description rootlevel">
                    <li><span class="item-title">Case:</span> Geonworks F1-8X 722 (80%/TKL), Black Anodized, Winkey</li>
                    <li><span class="item-title">PCB:</span> Apollo87H (Hotswappable FR-4 1.6mm)</li>
                    <li><span class="item-title">Plate:</span> Aluminium V1.1 Standard (1.5mm)</li>
                    <li><span class="item-title">Internal Weights:</span> All weights included</li>
                    <li><span class="item-title">Switches:</span> Prime Keyboards Alpaca V2 (Linear, 62g, Stock/Unmodded)</li>
                    <li><span class="item-title">Keycaps:</span> PBTfans BOW</li>
                </ul></p>
            </td>
        </tr>
        <tr>
            <td>Keyboard (Keypad/Macropad)</td>
            <td>Q4 2022</td>
            <td>
                <ul class="description rootlevel">
                    <li><span class="item-title">Kit:</span> Idobao Montex, Black</li>
                    <li><span class="item-title">Switches:</span> Gazzew Boba U4T (Tactile, 62g, Stock/Unmodded)</li>
                    <li><span class="item-title">Keycaps:</span> Generic relegendable keycaps from Aliexpress</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Mouse</td>
            <td>Q2 2023</td>
            <td>Corsair Scimitar Elite</td>
        </tr>
        <tr>
            <td>Deskmat</td>
            <td>Q1 2022</td>
            <td>Endgame Gear MPC890 Stealth Edition XXL (Cordura Fabric)</td>
        </tr>
    </tbody>
</table></p>


<h2>Uncategorized</h2>

<p><table class="general">
    <thead>
        <tr>
            <th>Category</th>
            <th>Acquisition Year</th>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Automatic Document Feeder (Scanner)</td>
            <td>Q1 2023</td>
            <td>Fujitsu ScanSnap iX1600</td>
        </tr>
        <tr>
            <td>Multitool (Primary)</td>
            <td>Q1 2023</td>
            <td>Leatherman Surge</td>
        </tr>
        <tr>
            <td>Multitool (Complementary)</td>
            <td>Q1 2023</td>
            <td>Victorinox Explorer</td>
        </tr>
        <tr>
            <td>Water Bottle</td>
            <td>Q2 2023</td>
            <td>Klean Kanteen TKWide (Steel Insulated Flask) + Loop Cap</td>
        </tr>
        <tr>
            <td>Bug Catcher</td>
            <td>Q2 2022</td>
            <td>Pestrol Big Snappy</td>
        </tr>
    </tbody>
</table></p>


</Layout>

