table.leetcode-solutions-list td {
    padding: 0.1em 0.3em 0.1em 0.3em;
}

table.leetcode-solutions-list tr > td:first-child {
    padding-left: 0;
}
table.leetcode-solutions-list tr > td:nth-child(2) {
    font-weight: bold;
}
table.leetcode-solutions-list tr > td:nth-child(3) {
    padding-left: 0.4em;
}

table.leetcode-solutions-list tr > td.difficulty-easy {
    background: var(--color--mygreen);
}
table.leetcode-solutions-list tr > td.difficulty-medium {
    background: var(--color--myyellow);
}
table.leetcode-solutions-list tr > td.difficulty-hard {
    background: var(--color--myred);
}
