---
import Layout from "@layouts/GeneralLayout.astro";

import {slugToLeetcodeURL, difficultyIDToName} from "./_utils";

const allPosts = await Astro.glob("./sol/*.mdx");
---

<Layout
    title="My Leetcode Solutions"
    description="My Leetcode solutions!"
    keywords={["data structures and algorithms", "dsa", "oa", "interview", "competitive programming", "programming challenges"]}
>

<ul class="rootlevel">
    {allPosts.map((post) =>
        (!post.frontmatter["wip"]) &&
        <li><a href={post.url}>{post.frontmatter["num"]}. {post.frontmatter["name"]} ({difficultyIDToName(post.frontmatter["difficulty"])})</a> [<a href={slugToLeetcodeURL(post.frontmatter["webslug"])}>Spec</a>]</li>
    )}
</ul>

</Layout>

