---
import Layout from "./_layouts/CurationBaseLayout.astro";
import {fm} from "@helpers/frontmatter";

export const frontmatter = fm({
    title: "About Sim's Internet Curation",
    description: "A hand-curated feed of internet content.",
    keywords: ["content curation"],
});
---

<Layout {...frontmatter}>

<h1>About Sim's Internet Curation</h1>

<p>
    Welcome to my hand-curated feed of internet stuff I reckon is worth sharing.
</p>
<p>
    With each post, I usually attempt to summarize what I found interesting about them. However, keep in mind that my comments may often come with inaccuracies since I'm often writing them from memory, and often taking the video for its word without fact checking. I am working on refining my commentary process to take this into account. (Depending on how I feel about it, I might actually just get rid of commentary to help avoid spreading misinformation.)
</p>


</Layout>

