---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="The Hidden Pages"
    description="shhhhhhhhhhhhhhhhhhh"
    keywords={["homepage"]}
>

<p>Congrats on finding the hidden pages. No, you won't find any secrets in here. These are just pages that don't need attention, but that I still want *some* way to make them findable by myself or if anyone happens to be interested in them.</p>
<p>The stuff here is probably boring as hell to anybody who's seeking specific information from my website, but could be interesting if you're just poking around to see what I'm all about.</p>

<h2>Index</h2>

<p><ul>
    <li><em>There's nothing here yet...</em></li>
    <!-- <li><a href="./random-math-scraps/"><b>Random Math Scraps</b></a></li> -->
</ul></p>

</Layout>
