---
import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="The Hidden Pages"
    description="shhhhhhhhhhhhhhhhhhh"
    keywords={["homepage"]}
>

<p>Congrats on finding the hidden pages. No, you won't find any secrets in here. These are just pages that don't need attention, but that I still want *some* way to make them findable by myself or if anyone happens to be interested in them.</p>
<p>The stuff here is probably boring as hell to anybody who's seeking specific information from my website, but could be interesting if you're just poking around to see what I'm all about.</p>

<h2>Index</h2>

<p><ul>
    <li><a href="./planned-topics/"><b>Planned Topics</b></a></li>
    <li><b>Random Math Scraps:</b> Some random set of math scraps I found somewhere. Maybe this stuff will fit nicely into a future section of my website? Who knows.
        <ul>
            <li><a href="./random-math-scraps/1/"><b>Scrap 1</b></a></li>
            <li><a href="./random-math-scraps/2/"><b>Scrap 2</b></a></li>
            <li><a href="./random-math-scraps/3/"><b>Scrap 3</b></a></li>
            <li><a href="./random-math-scraps/4/"><b>Scrap 4</b></a></li>
        </ul>
    </li>
</ul></p>

</Layout>
