---
/*
 * TODO: any way to put this directly in the mdx file?
 */
---

<ul>
    <li><b>D1</b>
        <ul>
            <li><span class="important">DPS have purple?</span>
                <ul class="no-bullets"><li>
                    <table class="no-border">
                        <tbody>
                            <tr>
                                <td>Fire</td>
                                <td>&rarr;</td>
                                <td>East</td>
                                <td><span class="important"><b>BAIT</b></span></td>
                                {/* <!-- Extra stuff --> */}
                                <td></td>
                                <td></td>
                                <td>(OUT)</td>
                            </tr>
                            <tr>
                                <td>Ice</td>
                                <td>&rarr;</td>
                                <td>East</td>
                                <td></td>
                                {/* <!-- Extra stuff --> */}
                                <td></td>
                                <td></td>
                                <td>(OUT)</td>
                            </tr>
                        </tbody>
                    </table>
                </li></ul>
            </li>
            <li><span class="important">TH have purple?</span>
                <ul class="no-bullets"><li>
                    <table class="no-border">
                        <tbody>
                            <tr>
                                <td>Fire</td>
                                <td>&rarr;</td>
                                <td>North/South</td>
                                <td><span class="important"><b>BAIT</b></span></td>
                                {/* <!-- Extra stuff --> */}
                                <td></td>
                                <td></td>
                                <td>(OUT)</td>
                            </tr>
                            <tr>
                                <td>Ice</td>
                                <td>&rarr;</td>
                                <td>West</td>
                                <td><span class="important"><b>BAIT</b></span></td>
                                {/* <!-- Extra stuff --> */}
                                <td></td>
                                <td></td>
                                <td>(IN)</td>
                            </tr>
                        </tbody>
                    </table>
                </li></ul>
            </li>
        </ul>
    </li>
    <li><b>D2</b>
        <ul>
            <li><span class="important">DPS have purple?</span>
                <ul class="no-bullets"><li>
                    <table class="no-border">
                        <tbody>
                            <tr>
                                <td>D1 is purple & Fire</td>
                                <td>&rarr;</td>
                                <td>East</td>
                                <td><span class="important"><b>BAIT</b></span></td>
                            </tr>
                            <tr>
                                <td>Otherwise</td>
                                <td>&rarr;</td>
                                <td>East</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </li></ul>
            </li>
            <li><span class="important">TH have purple?</span>
                <ul class="no-bullets"><li>
                    <table class="no-border">
                        <tbody>
                            <tr>
                                <td>Fire</td>
                                <td>&rarr;</td>
                                <td>North/South</td>
                                <td></td>
                                {/* <!-- Extra stuff --> */}
                                <td></td>
                                <td></td>
                                <td>(IN)</td>
                            </tr>
                            <tr>
                                <td>Ice</td>
                                <td>&rarr;</td>
                                <td>East</td>
                                <td><span class="important"><b>BAIT</b></span></td>
                                {/* <!-- Extra stuff --> */}
                                <td></td>
                                <td></td>
                                <td>(IN)</td>
                            </tr>
                        </tbody>
                    </table>
                </li></ul>
            </li>
        </ul>
    </li>
</ul>