---
import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="Own Work"
    description="If you were linked to this page, it means the item you clicked on is an original work by simshadows."
    keywords={[]}
>

<p>If you were linked to this page, it means the item you clicked on is an original work by simshadows.</p>

</Layout>

