div.cheatsheet-block {
    column-width: 30em;
    column-gap: 1em;
    font-size: 92.7%; /* Just enough for a typical PC 1080p full-width browser window to show 4 columns */
}

div.cheatsheet-block > * {
    break-inside: avoid;
    margin-top: 1em;
    margin-bottom: 1em;
    /* width: 30em; */ /* Use for debugging */
}
div.cheatsheet-block > *:first-child {
    margin-top: 0;
}

/* would this do anything? */
/*
div.cheatsheet-block > *:last-child {
    margin-bottom: 0;
}
*/

