---
import Wip from "./_index-links.wip.astro";

interface Props {
    showWIP: boolean;
}

const {
    showWIP,
} = Astro.props;
---

<h3>Site Index</h3>

<h4>General</h4>

<ul>
    <li><a href="/about/"><b>About Me</b></a></li>
    {showWIP && <li><a href="/hidden/"><b>Hidden</b></a></li>}
    <li><a href="/list-of-awesome/"><b>List of Awesome</b></a></li>
    {showWIP && <li><a href="/personal-finance/"><b>Personal Finance</b></a> <Wip /></li>}
    {showWIP && <li><a href="/uses/"><b>Uses</b></a> <Wip /></li>}
</ul>

<h4>Programming</h4>

<ul>
    <li><a href="/c/cheatsheets/"><b>Cheatsheets</b></a>
        <ul>
            {showWIP && <li><a href="/c/cheatsheets/cpp/"><b>C++</b></a> <Wip /></li>}
            {showWIP && <li><a href="/c/cheatsheets/general/"><b>General</b></a> <Wip /></li>}
            {showWIP && <li><a href="/c/cheatsheets/html-css/"><b>HTML/CSS</b></a> <Wip /></li>}
            <li><a href="/c/cheatsheets/java/"><b>Java</b></a></li>
            <li><a href="/c/cheatsheets/javascript-typescript/"><b>Javascript/Typescript</b></a></li>
            <li><a href="/c/cheatsheets/python/"><b>Python</b></a></li>
        </ul>
    </li>
    <li><b>Notes</b>
        <ul>
            <li><b>Data Structures and Algorithms</b>
                <ul>
                    <li><a href="/c/notes/dsa/heaps/"><b>Heaps</b></a></li>
                    {showWIP && <li><a href="/c/notes/dsa/graphs/"><b>Graphs</b></a> <Wip /></li>}
                    <li><a href="/c/notes/dsa/dynamic-programming/"><b>Dynamic Programming</b></a></li>
                </ul>
            </li>
            <li><a href="/c/notes/databases-relational-model/"><b>Databases: The Relational Model and Relational Algebra</b></a></li>
            {showWIP && <li><a href="/c/notes/haskell/"><b>Haskell</b></a> <Wip /></li>}
            {showWIP && <li><a href="/c/notes/kubernetes/"><b>Kubernetes</b></a> <Wip /></li>}
            {showWIP && <li><a href="/c/programming-learners-checklist/"><b>Programming Learner's Checklist</b></a> <Wip /></li>}
        </ul>
    </li>
    <li><b>Programming Challenge Solutions</b>
        <ul>
            <li><a href="/c/programming-challenges/advent-of-code-2023/"><b>Advent of Code 2023</b></a></li>
            <li><b>CSES Problem Set</b>
                <ul>
                    <li><a href="/c/programming-challenges/cses/introductory-problems/"><b>Introductory Problems</b></a></li>
                    <li><a href="/c/programming-challenges/cses/sorting-and-searching/"><b>Sorting and Searching</b></a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h4>Math Cheatsheets</h4>

<ul>
    <li><a href="/s/cheatsheets/math/precalc/"><b>Precalculus</b></a></li>
    <li><a href="/s/cheatsheets/math/discrete/"><b>Discrete Mathematics</b></a></li>
    <li><a href="/s/cheatsheets/math/calculus/"><b>Calculus</b></a></li>
    {showWIP && <li><a href="/s/cheatsheets/math/stats/"><b>Probability and Statistics</b></a> <Wip /></li>}
    {showWIP && <li><a href="/s/cheatsheets/physics/"><b>Physics</b></a> <Wip /></li>}
</ul>

<h4>General Computer/Tech Stuff</h4>

<ul>
    <li><b>Cheatsheets and Checklists</b>
        <ul>
            {showWIP && <li><a href="/tech/cheatsheets/computer-maintenance-checklists/"><b>Computer Maintenance Checklists</b></a> <Wip /></li>}
            <li><a href="/tech/cheatsheets/new-computer-checklist/"><b>New Computer Checklist</b></a></li>
        </ul>
    </li>
    {showWIP && <li><a href="/tech/cheatsheets/ffmpeg/"><b>FFmpeg Cheatsheet</b></a> <Wip /></li>}
    <li><a href="/tech/mechanical-keyboard-switch-collection/"><b>Mechanical Keyboard Switch Collection</b></a>
        {showWIP && <ul>
            <li>There's also this <a href="/mechanical-keyboard-switch-collection-legacy/index.html"><b>old version of the page</b></a>. I'm still migrating data from it.</li>
        </ul>}
    </li>
</ul>

<h4>Gaming</h4>

<ul>
    <li><a href="/g/ffxiv/mechanics/"><b>FFXIV Savage Mechanics Notes</b></a></li>
    <li><a href="/g/monster-hunter-now/"><b>Monster Hunter Now Notes</b></a></li>
    <li><a href="/g/monster-hunter-world/status-damage-model/"><b>MHWI Status Damage Model</b></a></li>
</ul>

