---
import Wip from "./_index-links.wip.astro";

interface Props {
    showWIP: boolean;
}

const {
    showWIP,
} = Astro.props;
---

<h3>Site Index</h3>

<h4>General</h4>

<ul>
    <li><a href="/about/"><b>About</b></a></li>
    {showWIP && <li><a href="/hidden/"><b>Hidden</b></a></li>}
    <li><a href="/list-of-awesome/"><b>List of Awesome</b></a></li>
    {showWIP && <li><a href="/personal-finance/"><b>Personal Finance</b></a> <Wip /></li>}
    {showWIP && <li><a href="/uses/"><b>Uses</b></a> <Wip /></li>}
</ul>

<h4>Programming</h4>

<ul>
    <li><a href="/c/cheatsheets/"><b>Cheatsheets</b></a>
        <ul>
            {showWIP && <li><a href="/c/cheatsheets/bash/"><b>bash</b></a> <Wip /></li>}
            {showWIP && <li><a href="/c/cheatsheets/cpp/"><b>C++</b></a> <Wip /></li>}
            {showWIP && <li><a href="/c/cheatsheets/general/"><b>General</b></a> <Wip /></li>}
            {showWIP && <li><a href="/c/cheatsheets/git/"><b>git</b></a> <Wip /></li>}
            {showWIP && <li><a href="/c/cheatsheets/html-css/"><b>HTML/CSS</b></a> <Wip /></li>}
            <li><a href="/c/cheatsheets/java/"><b>Java</b></a></li>
            <li><a href="/c/cheatsheets/javascript-typescript/"><b>Javascript/Typescript</b></a></li>
            {showWIP && <li><a href="/c/cheatsheets/kubernetes/"><b>Kubernetes</b></a> <Wip /></li>}
            <li><a href="/c/cheatsheets/linux/"><b>Linux</b></a>
                <ul>
                    <li><a href="/c/cheatsheets/linux/more/"><b>More Common Tasks</b></a></li>
                </ul>
            </li>
            {showWIP && <li><a href="/c/cheatsheets/making-changes-to-this-website/"><b>Making changes to this website</b></a></li>}
            <li><a href="/c/cheatsheets/podman/"><b>Podman</b></a></li>
            <li><a href="/c/cheatsheets/python/"><b>Python</b></a></li>
            {showWIP && <li><a href="/c/cheatsheets/sql/"><b>SQL and Common Relational DBMS Features</b></a> <Wip /></li>}
            <li><a href="/c/cheatsheets/xml-xslt/"><b>XML and XSLT</b></a></li>
        </ul>
    </li>
    <li><b>Notes</b>
        <ul>
            <li><b>Data Structures and Algorithms</b>
                <ul>
                    <li><a href="/c/notes/dsa/heaps/"><b>Heaps</b></a></li>
                    {showWIP && <li><a href="/c/notes/dsa/graphs/"><b>Graphs</b></a> <Wip /></li>}
                    <li><a href="/c/notes/dsa/dynamic-programming/"><b>Dynamic Programming</b></a></li>
                </ul>
            </li>
            <li><a href="/c/notes/databases-relational-model/"><b>Databases: The Relational Model and Relational Algebra</b></a></li>
            {showWIP && <li><a href="/c/programming-learners-checklist/"><b>Programming Learner's Checklist</b></a> <Wip /></li>}
        </ul>
    </li>
    <li><b>Programming Challenge Solutions</b>
        <ul>
            <li><a href="/c/programming-challenges/advent-of-code-2015/"><b>Advent of Code 2015</b></a></li>
            <li><a href="/c/programming-challenges/advent-of-code-2023/"><b>Advent of Code 2023</b></a></li>
            <li><a href="/c/programming-challenges/advent-of-code-2024/"><b>Advent of Code 2024</b></a></li>
            <li><b>CSES Problem Set</b>
                <ul>
                    <li><a href="/c/programming-challenges/cses/introductory-problems/"><b>Introductory Problems</b></a></li>
                    <li><a href="/c/programming-challenges/cses/sorting-and-searching/"><b>Sorting and Searching</b></a></li>
                    <li><a href="/c/programming-challenges/cses/dynamic-programming/"><b>Dynamic Programming</b></a></li>
                    <li><a href="/c/programming-challenges/cses/graph-algorithms/"><b>Graph Algorithms</b></a></li>
                </ul>
            </li>
            <li><a href="/c/programming-challenges/leetcode/"><b>Leetcode</b></a></li>
            <li><a href="/c/programming-challenges/various/"><b>Various Other Platforms</b></a></li>
        </ul>
    </li>
    {showWIP && <li><b>Job Hunting</b>
        <ul>
            <li><a href="/c/job-hunt/behavioural/"><b>Behavioural Interviews</b></a> <Wip /></li>
            <li><a href="/c/job-hunt/system-design/"><b>System Design Interviews</b></a> <Wip /></li>
            <li><a href="/c/job-hunt/technical-interviewing/"><b>Technical Interviews</b></a> <Wip /></li>
        </ul>
    </li>}
    <li><a href="/c/semiprivate/"><b>Semi-Private Content</b></a></li>
</ul>

<h4>Math</h4>

<ul>
    <li><b>Cheatsheets</b>
        <ul>
            <li><a href="/s/cheatsheets/math/precalc/"><b>Precalculus</b></a></li>
            <li><a href="/s/cheatsheets/math/discrete/"><b>Discrete Mathematics</b></a></li>
            <li><a href="/s/cheatsheets/math/calculus/"><b>Calculus</b></a></li>
            {showWIP && <li><a href="/s/cheatsheets/math/stats/"><b>Probability and Statistics</b></a> <Wip /></li>}
            {showWIP && <li><a href="/s/cheatsheets/physics/"><b>Physics</b></a> <Wip /></li>}
        </ul>
    </li>
    <li><a href="/s/semiprivate/"><b>Semi-Private Content</b></a></li>
</ul>

<h4>Computer/Tech Enthusiast Stuff</h4>

<ul>
    <li><b>Cheatsheets and Checklists</b>
        <ul>
            {showWIP && <li><a href="/tech/cheatsheets/computer-maintenance-checklists/"><b>Computer Maintenance Checklists</b></a> <Wip /></li>}
            <li><a href="/tech/cheatsheets/emoji/"><b>Emoji</b></a></li>
            {showWIP && <li><a href="/tech/cheatsheets/ffmpeg/"><b>FFmpeg</b></a> <Wip /></li>}
            <li><a href="/tech/cheatsheets/new-computer-checklist/"><b>New Computer Checklist</b></a></li>
            {showWIP && <li><a href="/tech/cheatsheets/windows-sysadmin/"><b>Windows SysAdmin</b></a> <Wip /></li>}
        </ul>
    </li>
    {showWIP && <li><a href="/tech/hardware-troubleshooting/"><b>Computer Hardware Troubleshooting</b></a> <Wip /></li>}
    {showWIP && <li><a href="/tech/homelab/"><b>Homelab</b></a> <Wip /></li>}
    <li><a href="/tech/mechanical-keyboard-switch-collection/"><b>Mechanical Keyboard Switch Collection</b></a>
        {showWIP && <ul>
            <li>There's also this <a href="/mechanical-keyboard-switch-collection-legacy/index.html"><b>old version of the page</b></a>. I'm still migrating data from it.</li>
        </ul>}
    </li>
    <li><a href="/tech/semiprivate/"><b>Semi-Private Content</b></a></li>
</ul>

<h4>Gaming</h4>

<ul>
    <li><a href="/g/ffxiv/mechanics/"><b>FFXIV: Savage Mechanics Notes</b></a></li>
    <li><a href="/g/ffxiv/settings/"><b>FFXIV: Settings/Configuration Notes</b></a></li>
    <li><a href="/g/ffxiv/notes/2024-11-12-patch-7-1-pvp/"><b>FFXIV: My notes on patch 7.1 PvP changes</b></a></li>
    <li><a href="/g/monster-hunter-now/"><b>Monster Hunter Now</b></a></li>
    <li><a href="/g/monster-hunter-world/status-damage-model/"><b>MHWI Status Damage Model</b></a></li>
    {showWIP && <li><a href="/g/rocket-rats/"><b>Rocket Rats</b></a> <Wip /></li>}
    {showWIP && <li><a href="/g/taiko-no-tatsujin/rhythm-festival/"><b>Taiko no Tatsujin: Rhythm Festival</b></a> <Wip /></li>}
    <li><a href="/g/semiprivate/"><b>Semi-Private Content</b></a></li>
</ul>


<h4>Uncategorized</h4>

<ul>
    {showWIP && <li><a href="/experimental-glob/"><b>Experimental Glob</b></a> <Wip /></li>}
    <li><b>Food</b>
        <ul>
            <li><a href="/food/diary/"><b>Food Diary</b></a></li>
            <li><a href="/food/recommendations/"><b>Recommendations</b></a></li>
            <li><a href="/food/wishlist/"><b>Wishlist</b></a></li>
        </ul>
    </li>
    <li><a href="/h/ice-skating/"><b>Ice Skating Notes</b></a></li>
    <li><b>Photography</b>
        <ul>
            <li><a href="/photography/gear/"><b>Gear</b></a></li>
            <li><a href="/photography/notes/"><b>Notes</b></a></li>
            {showWIP && <li><a href="/photography/beginner-recommendations/"><b>Recommendations</b></a> <Wip /></li>}
            {showWIP && <li><a href="/photography/why-photography/"><b>Why Photography?</b></a> <Wip /></li>}
        </ul>
    </li>
</ul>

