---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/BaseLayout.astro";
import Links from "./_index-links.astro";
---

<Layout
    title="Sim's Pages"
    description="A collection of various webpages."
    keywords={["homepage"]}
>
    <h3>Site Index</h3>

    <Links showWIP={true} />

    <a href="/"><h4>Exclude early work-in-progress pages</h4></a>
</Layout>

