---
import Layout from "@layouts/BaseLayout.astro";
import Links from "./_index-links.astro";
import ExternLinks from "./_index-external-links.astro";
---

<Layout
    title="Sim's Pages"
    description="A collection of various webpages."
    keywords={["homepage"]}
>
    <Links showWIP={false} />
    <a href="/all/"><h4>Include early work-in-progress pages</h4></a>
    <hr />
    <ExternLinks />
</Layout>

