---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
    title="Sim's Pages"
    description="A collection of various webpages."
    keywords={["simshadows", "pages"]}
>

    <h2>Released Pages</h2>

    <p>
        <a href="./list-of-awesome/"><b>List of Awesome</b></a><br>
        <a href="./about/"><b>About Me</b></a><br>
        <a href="./mechanical-keyboard-switch-collection/"><b>Mechanical Keyboard Switch Collection</b></a><br>
        <a href="./mechanical-keyboard-switch-collection-legacy/index.html"><b>Mechanical Keyboard Switch Collection (Legacy Version)</b></a><br>
    </p>

    <!-- Maybe add this later if I can figure out how to make it work. For now, it just looks awkward.
    <h2>External Pages</h2>
    <p>
        <a href="https://apps.simshadows.com/"><b>Web Applications</b></a> (&rarr; <i>apps.simshadows.com</i>)<br>
        <a href="https://www.simshadows.com/"><b>Blog</b></a> (&rarr; <i>www.simshadows.com</i>)<br>
    </p>
    <p>
        <a href="https://www.youtube.com/playlist?list=PLxQR54BjCSigIGVqIsqhOgG6nCyFsuzI1"><b>YouTube Playlist: Saves</b></a> (&rarr; <i>youtube.com</i>)<br>
        <a href="https://www.youtube.com/playlist?list=PLxQR54BjCSiiBT43zEBBLDpGt9uR3RmNF"><b>YouTube Playlist: Candidate Saves</b></a> (&rarr; <i>youtube.com</i>)<br>
        <a href="https://www.youtube.com/playlist?list=PLxQR54BjCSihvQfn3jEijvJFC-dGCsKgP"><b>YouTube Playlist: Computing Conference Saves</b></a> (&rarr; <i>youtube.com</i>)<br>
    </p>
    -->

    <h2>Work-in-progress pages</h2>
    <p>
        <a href="./ffxiv-mechanics/"><b>FFXIV Savage Mechanics Notes</b></a><br>
        <a href="./c/programming-learners-checklist/"><b>Programming Learner's Checklist</b></a><br>
        <a href="./c/cheatsheets/javascript-typescript/"><b>Javascript/Typescript Cheatsheet</b></a><br>
        <a href="./c/cheatsheets/python/"><b>Python Cheatsheet</b></a><br>
    </p>
</BaseLayout>

