---
---

<p>I solved all problems on this page without any hints/spoilers (not even reading the CSES recommended book).</p>
<p>Visit <a href="https://cses.fi/problemset/"><code>https://cses.fi/problemset/</code></a> for the full problem set.</p>
<p>I don't provide the full problem specifications on this page due to possible copyright issues. Links to the original problem specs are provided below along with the date accessed, which should allow you to use <a href="https://archive.org/">Internet Archive</a> if the original URL hosting a problem specification ever meaningfully changes.</p>

