---
import Eq from "@components/latex/Eq";

import FiguresBlock from "@components/figures/FiguresBlock";
import Fig from "@components/figures/Fig";
---

<FiguresBlock>
<Fig>
<table class="general missing-coin-sum-interval">
<tbody>
    <tr>
        <slot />
    </tr>
    <tr>
        <td><Eq code="0" /></td>
        <td><Eq code="1" /></td>
        <td><Eq code="2" /></td>
        <td><Eq code="3" /></td>
        <td><Eq code="4" /></td>
        <td><Eq code="5" /></td>
        <td><Eq code="6" /></td>
        <td><Eq code="7" /></td>
        <td><Eq code="8" /></td>
        <td><Eq code="9" /></td>
        <td><Eq code="10" /></td>
    </tr>
</tbody>
</table>
</Fig>
</FiguresBlock>
