.pages-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    column-gap: 0.2em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;

    font-size: 125%;
}

.pages-bar__elem {
    padding-left: 0.1em;
    padding-right: 0.1em;
}
.pages-bar__elem:first-child {padding-right: 0.1em;}
.pages-bar__elem:last-child  {padding-left:  0.1em;}
.pages-bar__elem.current {
    background-color: black;
    color: white;
}
