div.question-frame {
    border: 0.18em solid black;
    border-radius: 0.4em;
    margin: 0.4em 0.6em 0.4em 0.6em;
}

div.question-frame div.question-frame-content {
    margin: 0.5em 1.2em 0.5em 1.2em;
}

