---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="Programming Challenge Solutions"
    description="My solutions and thoughts to various programming challenges!"
    keywords={["programming", "challenges", "solutions", "leetcode"]}
>
    <p><ul>
        <li><a href="./advent-of-code-2023/"><b>Advent of Code 2023</b></a></li>
    </ul></p>
</Layout>

