---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="Programming Cheatsheets"
    description="My programming cheatsheets because I forget names and syntax a lot."
    keywords={["homepage"]}
>
    <p>No matter how much I use these technologies, I still seem to forget just enough that I regularly need to look up random stuff like how to iterate through an array, or what's the exact method name if I want to perform a fold/reduction and the exact order of the lambda's parameters. The problem gets worse if I switch between languages or don't use a language for an extended period of time.</p>
    <p>I've gotten tired of the constant googling and navigating of documentation for the simplest of things. It doesn't help that the official documentation or otherwise resources I like often have poor SEO. These cheatsheets are my way of solving that problem for myself.</p>
    <p>My cheatsheets aren't intended for someone to learn from scratch. If you're interested in those kinds of cheatsheets, check out <a href="https://learnxinyminutes.com/">Learn X in Y minutes</a>. They're really nice!</p>

    <h2>Index</h2>

    <p><ul>
        <li><a href="./javascript-typescript/"><b>Javascript/Typescript</b></a></li>
        <li><a href="./python/"><b>Python</b></a></li>
    </ul></p>
</Layout>

