---
import Layout from "@layouts/FullWidthLayout.astro";

import CheatsheetBlock from "@components/cheatsheets/CheatsheetBlock";
import CheatsheetFrame from "@components/cheatsheets/CheatsheetFrame";
import CheatsheetFrameTitle from "@components/cheatsheets/CheatsheetFrameTitle";

import TmpFrame from "./_tmp.astro";
---

<Layout
    title="Math Cheatsheet for Basic Computer Science"
    description="My cheatsheet for basic CS mathematics, targeting common algorithmics."
    keywords={["programming", "mathematics", "computer science", "combinatorics", "discrete", "modular arithmetic"]}
>

<CheatsheetBlock>
    <TmpFrame />
    <CheatsheetFrame>
        <CheatsheetFrameTitle>Big Frame</CheatsheetFrameTitle>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>lmao</p>
        <p>lmao</p>
    </CheatsheetFrame>
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
    <TmpFrame />
</CheatsheetBlock>

</Layout>

