---
import AN from "./_index.AN.astro"
import AC from "./_index.AC.astro"
---

<p><div id="python__pythondocsindex">
    <h4>General</h4>
    <div>
        <AN href="reference/datamodel.html">Data Model</AN>;
        <AN href="tutorial/modules.html">Modules</AN>
    </div>
    <div>
        <AN href="library/exceptions.html#concrete-exceptions">Built-In Exceptions</AN>
        <ul>
            <li><AC href="library/exceptions.html#NotImplementedError">NotImplementedError</AC></li>
            <li><AC href="library/exceptions.html#RuntimeError">RuntimeError</AC></li>
        </ul>
    </div>
    <div>
        <AN href="library/stdtypes.html">Built-In Types</AN>
        <ul>
            <li><AC href="library/stdtypes.html#sequence-types-list-tuple-range">list/tuple/range</AC></li>
            <li><AC href="library/stdtypes.html#text-sequence-type-str">str</AC></li>
            <li><AC href="library/stdtypes.html#binary-sequence-types-bytes-bytearray-memoryview">bytes/bytesarray/memoryview</AC></li>
            <li><AC href="library/stdtypes.html#set-types-set-frozenset">set/frozenset</AC></li>
            <li><AC href="library/stdtypes.html#mapping-types-dict">dict</AC></li>
        </ul>
    </div>
    <div>
        <AN href="library/functions.html">Built-In Functions</AN>
        <ul>
            <li><AC href="library/functions.html#abs">abs</AC></li>
            <li><AC href="library/functions.html#aiter">aiter</AC></li>
            <li><AC href="library/functions.html#all">all</AC></li>
            <li><AC href="library/functions.html#anext">anext</AC></li>
            <li><AC href="library/functions.html#any">any</AC></li>
            <li><AC href="library/functions.html#ascii">ascii</AC></li>
            <li><AC href="library/functions.html#bin">bin</AC></li>
            <li><AC href="library/functions.html#bool">bool</AC></li>
            <li><AC href="library/functions.html#func-bytearray">bytearray</AC></li>
            <li><AC href="library/functions.html#func-bytes">bytes</AC></li>
            <li><AC href="library/functions.html#callable">callable</AC></li>
            <li><AC href="library/functions.html#classmethod">@classmethod</AC></li>
            <li><AC href="library/functions.html#complex">complex</AC></li>
            <li><AC href="library/functions.html#delattr">delattr</AC></li>
            <li><AC href="library/functions.html#func-dict">dict</AC></li>
            <li><AC href="library/functions.html#dir">dir</AC></li>
            <li><AC href="library/functions.html#divmod">divmod</AC></li>
            <li><AC href="library/functions.html#enumerate">enumerate</AC></li>
            <li><AC href="library/functions.html#eval">eval</AC></li>
            <li><AC href="library/functions.html#exec">exec</AC></li>
            <li><AC href="library/functions.html#filter">filter</AC></li>
            <li><AC href="library/functions.html#float">float</AC></li>
            <li><AC href="library/functions.html#format">format</AC></li>
            <li><AC href="library/functions.html#func-frozenset">frozenset</AC></li>
            <li><AC href="library/functions.html#getattr">getattr</AC></li>
            <li><AC href="library/functions.html#globals">globals</AC></li>
            <li><AC href="library/functions.html#hasattr">hasattr</AC></li>
            <li><AC href="library/functions.html#hex">hex</AC></li>
            <li><AC href="library/functions.html#id">id</AC></li>
            <li><AC href="library/functions.html#input">input</AC></li>
            <li><AC href="library/functions.html#int">int</AC></li>
            <li><AC href="library/functions.html#isinstance">isinstance</AC></li>
            <li><AC href="library/functions.html#issubclass">issubclass</AC></li>
            <li><AC href="library/functions.html#iter">iter</AC></li>
            <li><AC href="library/functions.html#len">len</AC></li>
            <li><AC href="library/functions.html#func-list">list</AC></li>
            <li><AC href="library/functions.html#locals">locals</AC></li>
            <li><AC href="library/functions.html#map">map</AC></li>
            <li><AC href="library/functions.html#max">max</AC></li>
            <li><AC href="library/functions.html#max">max</AC></li>
            <li><AC href="library/functions.html#func-memoryview">memoryview</AC></li>
            <li><AC href="library/functions.html#min">min</AC></li>
            <li><AC href="library/functions.html#next">next</AC></li>
            <li><AC href="library/functions.html#object">object</AC></li>
            <li><AC href="library/functions.html#oct">oct</AC></li>
            <li><AC href="library/functions.html#open">open</AC></li>
            <li><AC href="library/functions.html#ord">ord</AC></li>
            <li><AC href="library/functions.html#pow">pow</AC></li>
            <li><AC href="library/functions.html#print">print</AC></li>
            <li><AC href="library/functions.html#property">property</AC></li>
            <li><AC href="library/functions.html#range">range</AC></li>
            <li><AC href="library/functions.html#repr">repr</AC></li>
            <li><AC href="library/functions.html#reversed">reversed</AC></li>
            <li><AC href="library/functions.html#round">round</AC></li>
            <li><AC href="library/functions.html#func-set">set</AC></li>
            <li><AC href="library/functions.html#setattr">setattr</AC></li>
            <li><AC href="library/functions.html#sorted">sorted</AC></li>
            <li><AC href="library/functions.html#staticmethod">@staticmethod</AC></li>
            <li><AC href="library/functions.html#func-str">str</AC></li>
            <li><AC href="library/functions.html#sum">sum</AC></li>
            <li><AC href="library/functions.html#super">super</AC></li>
            <li><AC href="library/functions.html#func-tuple">tuple</AC></li>
            <li><AC href="library/functions.html#type">type</AC></li>
            <li><AC href="library/functions.html#vars">vars</AC></li>
            <li><AC href="library/functions.html#zip">zip</AC></li>
        </ul>
    </div>
    <div>
        <AC href="library/collections.html">collections</AC>
        <ul>
            <li><AC href="library/collections.html#chainmap-objects">ChainMap</AC></li>
            <li><AC href="library/collections.html#counter-objects">Counter</AC></li>
            <li><AC href="library/collections.html#deque-objects">deque</AC></li>
            <li><AC href="library/collections.html#defaultdict-objects">defaultdict</AC></li>
            <li><AC href="library/collections.html#namedtuple-factory-function-for-tuples-with-named-fields">namedtuple</AC></li>
            <li><AC href="library/collections.html#ordereddict-objects">OrderedDict</AC></li>
        </ul>
    </div>
    <div>
        <AC href="library/itertools.html">itertools</AC>
        <ul>
            <li>Infinite:<ul>
                <li><AC href="library/itertools.html#itertools.count">count</AC></li>
                <li><AC href="library/itertools.html#itertools.cycle">cycle</AC></li>
                <li><AC href="library/itertools.html#itertools.repeat">repeat</AC></li>
            </ul></li>
            <li>Combinatoric:<ul>
                <li><AC href="library/itertools.html#itertools.product">product</AC></li>
                <li><AC href="library/itertools.html#itertools.permutations">permutations</AC></li>
                <li><AC href="library/itertools.html#itertools.combinations">combinations</AC></li>
                <li><AC href="library/itertools.html#itertools.combinations_with_replacement">combinations_with_replacement</AC></li>
            </ul></li>
            <li>Misc. Finite:<ul>
                <li><AC href="library/itertools.html#itertools.accumulate">accumulate</AC></li>
                <li><AC href="library/itertools.html#itertools.batched">batched</AC></li>
                <li><AC href="library/itertools.html#itertools.chain">chain</AC></li>
                <li><AC href="library/itertools.html#itertools.chain.from_iterable">chain.from_iterable</AC></li>
                <li><AC href="library/itertools.html#itertools.compress">compress</AC></li>
                <li><AC href="library/itertools.html#itertools.dropwhile">dropwhile</AC></li>
                <li><AC href="library/itertools.html#itertools.groupby">groupby</AC></li>
                <li><AC href="library/itertools.html#itertools.islice">islice</AC></li>
                <li><AC href="library/itertools.html#itertools.pairwise">pairwise</AC></li>
                <li><AC href="library/itertools.html#itertools.starmap">starmap</AC></li>
                <li><AC href="library/itertools.html#itertools.takewhile">takewhile</AC></li>
                <li><AC href="library/itertools.html#itertools.tee">tee</AC></li>
                <li><AC href="library/itertools.html#itertools.zip_longest">zip_longest</AC></li>
            </ul></li>
        </ul>
    </div>
    <div>
        <AC href="library/functools.html">functools</AC>
        <ul>
            <li><AC href="library/functools.html#functools.cache">cache</AC></li>
            <li><AC href="library/functools.html#functools.cached_property">cached_property</AC></li>
            <li><AC href="library/functools.html#functools.cmp_to_key">cmp_to_key</AC></li>
            <li><AC href="library/functools.html#functools.lru_cache">lru_cache</AC></li>
            <li><AC href="library/functools.html#functools.total_ordering">total_ordering</AC></li>
            <li><AC href="library/functools.html#functools.partial">partial</AC></li>
            <li><AC href="library/functools.html#functools.partialmethod">partialmethod</AC></li>
            <li><AC href="library/functools.html#functools.reduce">reduce</AC></li>
            <li><AC href="library/functools.html#functools.singledispatch">singledispatch</AC></li>
            <li><AC href="library/functools.html#functools.singledispatchmethod">singledispatchmethod</AC></li>
            <li><AC href="library/functools.html#functools.update_wrapper">update_wrapper</AC></li>
            <li><AC href="library/functools.html#functools.wraps">wraps</AC></li>
        </ul>
    </div>
</div></p>

