body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.content-column {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;
}

#masthead {
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    border-bottom: 1px solid #b9b9b9;
}
#masthead__content {
    display: flex;
}
#masthead__menu {
    display: flex;
    column-gap: 3em;

    margin-left: auto;
}

#website-title {
    font-size: 20px;
    font-weight: bold;
}

#content {
}

#footer {
    margin-top: 3.2em;
    margin-bottom: 1.8em;
    color: #afafaf;
    text-align: center;
}
#footer-text {
    margin-bottom: 0.5em;
    font-size: 0.85em;
}
#footer a {
    color: #afafaf;
}

/* Code Blocks */
.astro-code {
    padding: 0.8em;
    border-radius: 0.4em;
}

span.inactive {
    font-style: italic;
    text-decoration: line-through;
}

