body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body h1 {font-size: 2.60em; margin-top: 30px; margin-bottom: 30px;}
body h2 {font-size: 2.00em; margin-top: 30px;}
body h3 {font-size: 1.60em;}
body h4 {font-size: 1.25em;}
@media only screen and (max-width: 600px) {
    body h1 {font-size: 2.00em;}
    body h2 {font-size: 1.70em; margin-top: 30px;}
    body h3 {font-size: 1.40em;}
    body h4 {font-size: 1.15em;}
}

li, ul, ol {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

table {
    border-collapse: collapse;
}

.content-column {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;
}

#masthead {
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    border-bottom: 1px solid #b9b9b9;
}
#masthead__content {
    display: flex;
}
#masthead__menu {
    display: flex;
    align-items: center;
    column-gap: 3em;

    margin-left: auto;
}
#masthead__menu a {
    text-decoration: inherit;
}

#website-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

#content {
}

#footer {
    margin-top: 3.2em;
    margin-bottom: 1.8em;
    color: #afafaf;
    text-align: center;
}
#footer-text {
    margin-bottom: 0.5em;
    font-size: 0.85em;
}
#footer a {
    color: #afafaf;
}

/* Code Blocks */
.astro-code {
    padding: 0.8em;
    border-radius: 0.4em;
}

