---
interface Props {
    p: string; // "p" means "Path"
}

const {
    p,
} = Astro.props;

if (!p) throw new Error("Blank path.");

const BASE = "https://nebula.app/";
const href = new URL(p, BASE);
---

<a target="_blank" href={href}>Nebula</a>

