---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/GeneralLayout.astro";
---

<Layout
    title="Sim's Curated List of Awesome"
    description="My list of favourite online creators!"
    keywords={["favourite", "list", "awesome"]}
>


<style>
    li {
        margin-bottom: 0.2em;
    }

    span.e {
        font-weight: bold;
    }

    li.inactive {
        text-decoration: line-through;
    }
</style>


<noscript>
    <p><strong>WARNING: Javascript is not enabled. While this page is viewable with Javascript disabled, functionality will be limited.</strong></p>
</noscript>

<h2>Edutainment</h2>

<h3>Science</h3>

<ul>
    <li>[<a href="https://www.youtube.com/c/3blue1brown">YouTube</a>] <span class="e">3Blue1Brown</span></li>
    <li>[<a href="https://www.youtube.com/c/AppliedScience">YouTube</a>] <span class="e">Applied Science</span></li>
    <li>[<a href="https://www.youtube.com/c/ChubbyemuGames">YouTube</a>] <span class="e">Chubbyemu</span></li>
    <li>[<a href="https://www.youtube.com/user/msadaghd">YouTube</a>] <span class="e">ElectroBOOM</span></li>
    <li>[<a href="https://www.youtube.com/c/inanutshell">YouTube</a>] <span class="e">Kurzgesagt</span></li>
    <li>[<a href="https://www.youtube.com/user/LookingGlassUniverse">YouTube</a>] <span class="e">Looking Glass Universe</span></li>
    <li>[<a href="https://www.youtube.com/c/Mathologer">YouTube</a>] <span class="e">Mathologer</span></li>
    <li>[<a href="https://www.youtube.com/c/NileRed">YouTube</a>] <span class="e">NileRed</span></li>
    <li>[<a href="https://www.youtube.com/user/numberphile">YouTube</a>] <span class="e">Numberphile</span>
        <ul>
            <li>[<a href="https://www.youtube.com/user/Computerphile">YouTube</a>] <span class="e">Computerphile</span></li>
            <li>[<a href="https://www.youtube.com/user/periodicvideos">YouTube</a>] <span class="e">Periodic Videos</span></li>
            <li>[<a href="https://www.youtube.com/user/sixtysymbols">YouTube</a>] <span class="e">Sixty Symbols</span></li>
        </ul>
    </li>
    <li>[<a href="https://www.youtube.com/c/pbsspacetime">YouTube</a>] <span class="e">PBS Space Time</span></li>
    <li>[<a href="https://www.youtube.com/c/physicsgirl">YouTube</a>] <span class="e">Physics Girl</span></li>
    <li>[<a href="https://www.youtube.com/channel/UCMOqf8ab-42UUQIdVoKwjlQ">YouTube</a>,
        <a href="https://nebula.app/practical-engineering">Nebula</a>] <span class="e">Practical Engineering</span></li>
    <li>[<a href="https://www.youtube.com/c/RealEngineering">YouTube</a>,
        <a href="https://nebula.app/realengineering">Nebula</a>] <span class="e">Real Engineering</span>
        <ul>
           <li>[<a href="https://www.youtube.com/c/realscience">YouTube</a>,
               <a href="https://nebula.app/realscience">Nebula</a>] <span class="e">Real Science</span></li>
        </ul>
    </li>
    <li>[<a href="https://www.youtube.com/@SabineHossenfelder">YouTube</a>] <span class="e">Sabine Hossenfelder</span></li>
    <li>[<a href="https://www.youtube.com/c/SciShow">YouTube</a>] <span class="e">SciShow</span>
        <ul>
            <li>[<a href="https://www.youtube.com/user/crashcourse">YouTube</a>] <span class="e">Crash Course</span></li>
            <li>[<a href="https://www.youtube.com/c/SciShowPsych">YouTube</a>] <span class="e">SciShow Psych</span></li>
            <li>[<a href="https://www.youtube.com/c/scishowspace">YouTube</a>] <span class="e">SciShow Space</span></li>
        </ul>
    </li>
    <li>[<a href="https://www.youtube.com/c/szyzyg">YouTube</a>] <span class="e">Scott Manley</span></li>
    <li>[<a href="https://www.youtube.com/c/smartereveryday">YouTube</a>] <span class="e">Smarter Every Day</span></li>
    <li>[<a href="https://www.youtube.com/user/sciencestatedclearly">YouTube</a>] <span class="e">Stated Clearly</span></li>
    <li>[<a href="https://www.youtube.com/c/SteveMould">YouTube</a>] <span class="e">Steve Mould</span></li>
    <li>[<a href="https://www.youtube.com/c/TechnologyConnections">YouTube</a>] <span class="e">Technology Connections</span></li>
    <li>[<a href="https://www.youtube.com/c/K%C3%A1rolyZsolnai">YouTube</a>] <span class="e">Two Minute Papers</span></li>
    <li>[<a href="https://www.youtube.com/c/UpandAtom">YouTube</a>,
        <a href="https://nebula.app/upandatom">Nebula</a>] <span class="e">Up and Atom</span></li>
    <li>[<a href="https://www.youtube.com/c/veritasium">YouTube</a>] <span class="e">Veritasium</span></li>
</ul>

<h3>Technology</h3>

<ul>
    <li>[<a href="https://www.youtube.com/@bosnianbill">YouTube</a>] <span class="e">BosnianBill</span></li>
    <li>[<a href="https://www.youtube.com/c/tested">YouTube</a>] <span class="e">Adam Savage's Tested</span></li>
    <li>[<a href="https://www.youtube.com/c/ColdFusion">YouTube</a>] <span class="e">ColdFusion</span></li>
    <li>[<a href="https://www.youtube.com/user/DEFCONConference">YouTube</a>] <span class="e">DEF CON Hacking Conference</span></li>
    <li>[<a href="https://hackaday.com/">Web</a>] <span class="e">Hackaday</span></li>
    <li>[<a href="https://www.youtube.com/c/lockpickinglawyer">YouTube</a>] <span class="e">LockPickingLawyer</span></li>
    <li>[<a href="https://www.youtube.com/channel/UC0woBco6Dgcxt0h8SwyyOmw">YouTube</a>] <span class="e">Megaprojects</span></li>
    <li>[<a href="https://www.youtube.com/c/MustardChannel">YouTube</a>,
        <a href="https://nebula.app/mustard">Nebula</a>] <span class="e">Mustard</span></li>
    <li>[<a href="https://www.troyhunt.com/">Web</a>] <span class="e">Troy Hunt</span></li>
</ul>

<h3>Economics and Finance</h3>

<ul>
    <li>[<a href="https://www.youtube.com/c/BenFelixCSI">YouTube</a>] <span class="e">Ben Felix (Common Sense Investing)</span></li>
    <li>[<a href="https://www.youtube.com/c/EconomicsExplained">YouTube</a>] <span class="e">Economics Explained</span></li>
    <li>[<a href="https://www.youtube.com/c/HowMoneyWorks">YouTube</a>] <span class="e">How Money Works</span></li>
    <li>[<a href="https://www.youtube.com/c/thefinancialdiet">YouTube</a>] <span class="e">The Financial Diet</span></li>
    <li>[<a href="https://www.youtube.com/c/ThePlainBagel">YouTube</a>] <span class="e">The Plain Bagel</span></li>
    <li>[<a href="https://www.youtube.com/c/TwoCentsPBS">YouTube</a>] <span class="e">Two Cents</span></li>
</ul>

<h3>History</h3>

<ul>
    <li>[<a href="https://www.youtube.com/c/DarkDocs">YouTube</a>] <span class="e">Dark Docs</span>
        <ul>
            <li>[<a href="https://www.youtube.com/channel/UCwx8xyh6ZlDI5ZQpbIWKnUg">YouTube</a>] <span class="e">Dark Skies</span></li>
        </ul>
    </li>
    <li>[<a href="https://www.youtube.com/extracredits">YouTube</a>,
        <a href="https://nebula.app/extracredits">Nebula</a>] <span class="e">Extra Credits</span></li>
    <li>[<a href="https://www.youtube.com/c/SabatonHistory">YouTube</a>] <span class="e">Sabaton History</span></li>
</ul>

<h3>Music</h3>

<ul>
    <li>[<a href="https://www.youtube.com/c/AdamNeely">YouTube</a>,
        <a href="https://nebula.app/adam-neely">Nebula</a>] <span class="e">Adam Neely</span></li>
    <li>[<a href="https://www.youtube.com/c/InsidetheScore">YouTube</a>] <span class="e">Inside the Score</span></li>
    <li>[<a href="https://www.youtube.com/c/NahreSol">YouTube</a>] <span class="e">Nahre Sol</span></li>
    <li>[<a href="https://www.youtube.com/c/robscallon">YouTube</a>] <span class="e">Rob Scallon</span></li>
    <li>[<a href="https://www.youtube.com/c/SoundFieldPBS">YouTube</a>] <span class="e">Sound Field</span></li>
</ul>

<h3>Uncategorized</h3>

<ul>
    <li>[<a href="https://www.youtube.com/c/answerinprogress">YouTube</a>] <span class="e">Answer in Progress</span></li>
    <li>[<a href="https://www.youtube.com/@bigthink">YouTube</a>] <span class="e">Big Think</span></li>
    <li>[<a href="https://www.youtube.com/greymatter">YouTube</a>] <span class="e">CGP Grey</span></li>
    <li>[<a href="https://www.youtube.com/c/JayForeman">YouTube</a>] <span class="e">Jay Foreman (Map Men)</span></li>
    <li>[<a href="https://www.youtube.com/c/lexfridman">YouTube</a>] <span class="e">Lex Fridman</span></li>
    <li>[<a href="https://www.youtube.com/c/PolyMatter">YouTube</a>,
        <a href="https://nebula.app/polymatter">Nebula</a>] <span class="e">PolyMatter</span></li>
    <li>[<a href="https://www.youtube.com/c/RealLifeLore">YouTube</a>,
        <a href="https://nebula.app/reallifelore">Nebula</a>] <span class="e">Real Life Lore</span>
        <ul>
           <li>[<a href="https://www.youtube.com/channel/UCVkgJKL07bSQ1b54Pnz186Q">YouTube</a>,
               <a href="https://nebula.app/bioark">Nebula</a>] <span class="e">BioArk</span></li>
        </ul>
    </li>
    <li class="inactive">[<a href="https://www.youtube.com/channel/UCkxMlA7rt-mnIc1AjbyAsPw">YouTube</a>] <span class="e">Sexplanations</span> <em>(No longer active.)</em></li>
    <li>[<a href="https://www.youtube.com/teded">YouTube</a>] <span class="e">TED-Ed</span></li>
    <li>[<a href="https://www.youtube.com/c/TomScottGo">YouTube</a>] <span class="e">Tom Scott</span></li>
    <li>[<a href="https://www.youtube.com/c/vsauce1">YouTube</a>] <span class="e">Vsauce</span></li>
    <li>[<a href="https://www.youtube.com/c/Wendoverproductions">YouTube</a>,
        <a href="https://nebula.app/wendover">Nebula</a>] <span class="e">Wendover Productions</span>
        <ul>
           <li>[<a href="https://www.youtube.com/c/Extremities">YouTube</a>,
               <a href="https://nebula.app/extremities">Nebula</a>] <span class="e">Extremities</span></li>
           <li>[<a href="https://www.youtube.com/c/halfasinteresting">YouTube</a>,
               <a href="https://nebula.app/hai">Nebula</a>] <span class="e">Half as Interesting</span></li>
        </ul>
    </li>
    <li>[<a href="https://www.youtube.com/user/Xidnaf">YouTube</a>] <span class="e">Xidnaf</span></li>
</ul>

<h2>Videogames</h2>

<h3>Esssays, Game Design, and Games Journalism</h3>

<ul>
    <li>[<a href="https://www.youtube.com/channel/UCY3A_5R_m3PXCn5XDhvBBsg">YouTube</a>] <span class="e">Adam Millard (The Architect of Games)</span></li>
    <li>[<a href="https://www.youtube.com/c/DarylTalksGames">YouTube</a>] <span class="e">Daryl Talks Games</span></li>
    <li>[<a href="https://www.youtube.com/user/Warbot40">YouTube</a>] <span class="e">Design Doc</span></li>
    <li>[<a href="https://www.youtube.com/extracredits">YouTube</a>,
        <a href="https://nebula.app/extracredits">Nebula</a>] <span class="e">Extra Credits</span></li>
    <li>[<a href="https://www.youtube.com/c/MarkBrownGMT">YouTube</a>] <span class="e">Game Maker's Toolkit</span></li>
    <li>[<a href="https://www.youtube.com/user/JimSterling">YouTube</a>] <span class="e">Jim Sterling</span></li>
    <li>[<a href="https://www.youtube.com/c/JoshStrifeHayes">YouTube</a>] <span class="e">Josh Strife Hayes</span></li>
    <li>[<a href="https://www.youtube.com/c/razbuten">YouTube</a>,
        <a href="https://nebula.app/razbuten">Nebula</a>] <span class="e">Razbuten</span></li>
    <li class="inactive">[<a href="https://www.youtube.com/c/cynicalbrit">YouTube</a>] <span class="e">TotalBiscuit</span> <em>(No longer active.)</em></li>
</ul>

<h3>Let's Plays</h3>

<ul>
    <li>[<a href="https://www.youtube.com/user/DexterityBonus">YouTube</a>,
        <a href="https://www.twitch.tv/dexbonus">Twitch</a>] <span class="e">Dodger</span></li>
    <li>[<a href="https://www.youtube.com/c/jessecox">YouTube</a>,
        <a href="https://www.twitch.tv/jessecox">Twitch</a>] <span class="e">Jesse Cox</span></li>
</ul>

<h2>Consumer Technology/Computers</h2>

<ul>
    <li>[<a href="https://www.youtube.com/c/crincl">YouTube</a>] <span class="e">crinacle</span></li>
    <li>[<a href="https://www.youtube.com/user/GamersNexus">YouTube</a>] <span class="e">Gamers Nexus</span></li>
    <li>[<a href="https://www.youtube.com/@HardwareCanucks">YouTube</a>] <span class="e">Hardware Canucks</span></li>
    <li>[<a href="https://www.youtube.com/c/LinusTechTips">YouTube</a>] <span class="e">Linus Tech Tips</span></li>
    <li>[<a href="https://www.youtube.com/user/bryaneasy">YouTube</a>] <span class="e">Tech YES City</span></li>
</ul>

<h2>Webcomics</h2>

<ul>
    <li>[<a href="https://xkcd.com/">Web</a>] <span class="e">xkcd</span></li>
</ul>

<h2>Uncategorized</h2>

<ul>
    <li>[<a href="https://www.youtube.com/c/Coxncrendorpodcast">YouTube</a>] <span class="e">Cox 'n' Crendor Podcast</span></li>
    <li>[<a href="https://www.youtube.com/c/HealthyGamerGG">YouTube</a>,
        <a href="https://www.twitch.tv/healthygamer_gg">Twitch</a>] <span class="e">HealthyGamerGG</span></li>
    <li>[<a href="https://www.youtube.com/c/improveverywhere">YouTube</a>] <span class="e">Improv Everywhere</span></li>
    <li>[<a href="https://www.youtube.com/channel/UCGwu0nbY2wSkW8N-cghnLpA">YouTube</a>] <span class="e">Jaiden Animations</span></li>
    <li>[<a href="https://www.youtube.com/c/hellomayuko">YouTube</a>] <span class="e">mayuko</span></li>
    <li>[<a href="https://www.youtube.com/c/VivaLaDirtLeague">YouTube</a>] <span class="e">Viva La Dirt League</span></li>
    <li>[<a href="https://waitbutwhy.com/">Web</a>] <span class="e">Wait But Why</span></li>
    <li>[<a href="https://www.youtube.com/user/WongFuProductions">YouTube</a>] <span class="e">Wong Fu Productions</span></li>
</ul>

<h2>The Self-Promotion Section</h2>

Check out my stuff!

<ul>
    <li>[<a href="http://simshadows.com/">Web</a>] <span class="e">Blog and Personal Website</span></li>
    <li>[<a href="https://www.youtube.com/channel/UCwKwh-ukQv4ihdjT28vBtpw">YouTube</a>] <span class="e">Videogame Footage</span></li>
    <li>[<a href="https://www.youtube.com/channel/UCDFNbrzQY5esRMLnRMELvPQ">YouTube</a>] <span class="e">Videogame Footage #2</span></li>
    <li>[<a href="https://www.youtube.com/channel/UCkMf8rvJ-oKfkNKbKmR3v8Q">YouTube</a>] <span class="e">Videogame Footage #3</span></li>
    <li>[<a href="https://www.youtube.com/channel/UC0BZgs9YK4DGqEDP5ogC0KA">YouTube</a>] <span class="e">Videogame Footage #4</span></li>
    <li>[<a href="https://www.youtube.com/channel/UC1yttspft0mOAK5eB6ikFaw">YouTube</a>] <span class="e">Non-Gaming Content</span></li>
    <li class="inactive">[<a href="https://simishadows.tumblr.com/">Tumblr</a>] <span class="e">Anime GIFs (mostly reposts, some originals.)</span> <em>(Currently inactive.)</em></li>
</ul>


</Layout>

