---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/GeneralLayout.astro";

import ANebula from "./_index.ANebula.astro";
import ATumblr from "./_index.ATumblr.astro";
import ATwitch from "./_index.ATwitch.astro";
import AYt from "./_index.AYt.astro"; // YouTube
import AWeb from "./_index.AWeb.astro";
---

<Layout
    title="Sim's Curated List of Awesome"
    description="My list of favourite online creators!"
    keywords={["favourite", "list", "awesome"]}
>


<style>
    li {
        margin-bottom: 0.2em;
    }

    span.e {
        font-weight: bold;
    }

    li.inactive {
        text-decoration: line-through;
    }
</style>


<h2>Edutainment</h2>

<h3>Science</h3>

<ul>
    <li>[<AYt p="/c/3blue1brown" />] <span class="e">3Blue1Brown</span></li>
    <li>[<AYt p="/c/AppliedScience" />] <span class="e">Applied Science</span></li>
    <li>[<AYt p="/c/ChubbyemuGames" />] <span class="e">Chubbyemu</span></li>
    <li>[<AYt p="/user/msadaghd" />] <span class="e">ElectroBOOM</span></li>
    <li>[<AYt p="/c/inanutshell" />] <span class="e">Kurzgesagt</span></li>
    <li>[<AYt p="/user/LookingGlassUniverse" />] <span class="e">Looking Glass Universe</span></li>
    <li>[<AYt p="/c/Mathologer" />] <span class="e">Mathologer</span></li>
    <li>[<AYt p="/c/NileRed" />] <span class="e">NileRed</span></li>
    <li>[<AYt p="/user/numberphile" />] <span class="e">Numberphile</span>
        <ul>
            <li>[<AYt p="/user/Computerphile" />] <span class="e">Computerphile</span></li>
            <li>[<AYt p="/user/periodicvideos" />] <span class="e">Periodic Videos</span></li>
            <li>[<AYt p="/user/sixtysymbols" />] <span class="e">Sixty Symbols</span></li>
        </ul>
    </li>
    <li>[<AYt p="/c/pbsspacetime" />] <span class="e">PBS Space Time</span></li>
    <li>[<AYt p="/c/physicsgirl" />] <span class="e">Physics Girl</span></li>
    <li>[<AYt p="/channel/UCMOqf8ab-42UUQIdVoKwjlQ" />, <ANebula p="/practical-engineering" />] <span class="e">Practical Engineering</span></li>
    <li>[<AYt p="/c/RealEngineering" />, <ANebula p="/realengineering" />] <span class="e">Real Engineering</span>
        <ul>
           <li>[<AYt p="/c/realscience" />, <ANebula p="/realscience" />] <span class="e">Real Science</span></li>
        </ul>
    </li>
    <li>[<AYt p="/@SabineHossenfelder" />] <span class="e">Sabine Hossenfelder</span></li>
    <li>[<AYt p="/c/SciShow" />] <span class="e">SciShow</span>
        <ul>
            <li>[<AYt p="/user/crashcourse" />] <span class="e">Crash Course</span></li>
            <li>[<AYt p="/c/SciShowPsych" />] <span class="e">SciShow Psych</span></li>
            <li>[<AYt p="/c/scishowspace" />] <span class="e">SciShow Space</span></li>
        </ul>
    </li>
    <li>[<AYt p="/c/szyzyg" />] <span class="e">Scott Manley</span></li>
    <li>[<AYt p="/c/smartereveryday" />] <span class="e">Smarter Every Day</span></li>
    <li>[<AYt p="/user/sciencestatedclearly" />] <span class="e">Stated Clearly</span></li>
    <li>[<AYt p="/c/SteveMould" />] <span class="e">Steve Mould</span></li>
    <li>[<AYt p="/c/TechnologyConnections" />] <span class="e">Technology Connections</span></li>
    <li>[<AYt p="/c/K%C3%A1rolyZsolnai" />] <span class="e">Two Minute Papers</span></li>
    <li>[<AYt p="/c/UpandAtom" />, <ANebula p="/upandatom" />] <span class="e">Up and Atom</span></li>
    <li>[<AYt p="/c/veritasium" />] <span class="e">Veritasium</span></li>
</ul>

<h3>Technology</h3>

<ul>
    <li>[<AYt p="/@bosnianbill" />] <span class="e">BosnianBill</span></li>
    <li>[<AYt p="/c/tested" />] <span class="e">Adam Savage's Tested</span></li>
    <li>[<AYt p="/c/ColdFusion" />] <span class="e">ColdFusion</span></li>
    <li>[<AYt p="/user/DEFCONConference" />] <span class="e">DEF CON Hacking Conference</span></li>
    <li>[<AWeb href="https://hackaday.com/" />] <span class="e">Hackaday</span></li>
    <li>[<AYt p="/c/lockpickinglawyer" />] <span class="e">LockPickingLawyer</span></li>
    <li>[<AYt p="/channel/UC0woBco6Dgcxt0h8SwyyOmw" />] <span class="e">Megaprojects</span></li>
    <li>[<AYt p="/c/MustardChannel" />, <ANebula p="/mustard" />] <span class="e">Mustard</span></li>
    <li>[<AWeb href="https://www.troyhunt.com/" />] <span class="e">Troy Hunt</span></li>
</ul>

<h3>Economics and Finance</h3>

<ul>
    <li>[<AYt p="/c/BenFelixCSI" />] <span class="e">Ben Felix (Common Sense Investing)</span></li>
    <li>[<AYt p="/c/EconomicsExplained" />] <span class="e">Economics Explained</span></li>
    <li>[<AYt p="/c/HowMoneyWorks" />] <span class="e">How Money Works</span></li>
    <li>[<AYt p="/c/thefinancialdiet" />] <span class="e">The Financial Diet</span></li>
    <li>[<AYt p="/c/ThePlainBagel" />] <span class="e">The Plain Bagel</span></li>
    <li>[<AYt p="/c/TwoCentsPBS" />] <span class="e">Two Cents</span></li>
</ul>

<h3>History</h3>

<ul>
    <li>[<AYt p="/c/DarkDocs" />] <span class="e">Dark Docs</span>
        <ul>
            <li>[<AYt p="/channel/UCwx8xyh6ZlDI5ZQpbIWKnUg" />] <span class="e">Dark Skies</span></li>
        </ul>
    </li>
    <li>[<AYt p="/extracredits" />, <ANebula p="/extracredits" />] <span class="e">Extra Credits</span></li>
    <li>[<AYt p="/c/SabatonHistory" />] <span class="e">Sabaton History</span></li>
</ul>

<h3>Music</h3>

<ul>
    <li>[<AYt p="/c/AdamNeely" />, <ANebula p="/adam-neely" />] <span class="e">Adam Neely</span></li>
    <li>[<AYt p="/c/InsidetheScore" />] <span class="e">Inside the Score</span></li>
    <li>[<AYt p="/c/NahreSol" />] <span class="e">Nahre Sol</span></li>
    <li>[<AYt p="/c/robscallon" />] <span class="e">Rob Scallon</span></li>
    <li>[<AYt p="/c/SoundFieldPBS" />] <span class="e">Sound Field</span></li>
</ul>

<h3>Uncategorized</h3>

<ul>
    <li>[<AYt p="/c/answerinprogress" />] <span class="e">Answer in Progress</span></li>
    <li>[<AYt p="/@bigthink" />] <span class="e">Big Think</span></li>
    <li>[<AYt p="/greymatter" />] <span class="e">CGP Grey</span></li>
    <li>[<AYt p="/c/JayForeman" />] <span class="e">Jay Foreman (Map Men)</span></li>
    <li>[<AYt p="/c/lexfridman" />] <span class="e">Lex Fridman</span></li>
    <li>[<AYt p="/c/PolyMatter" />, <ANebula p="/polymatter" />] <span class="e">PolyMatter</span></li>
    <li>[<AYt p="/c/RealLifeLore" />, <ANebula p="/reallifelore" />] <span class="e">Real Life Lore</span>
        <ul>
           <li>[<AYt p="/channel/UCVkgJKL07bSQ1b54Pnz186Q" />, <ANebula p="/bioark" />] <span class="e">BioArk</span></li>
        </ul>
    </li>
    <li>[<AYt p="/channel/UCkxMlA7rt-mnIc1AjbyAsPw" />] <span class="e">Sexplanations</span></li>
    <li>[<AYt p="/teded" />] <span class="e">TED-Ed</span></li>
    <li>[<AYt p="/c/TomScottGo" />] <span class="e">Tom Scott</span></li>
    <li>[<AYt p="/c/vsauce1" />] <span class="e">Vsauce</span></li>
    <li>[<AYt p="/c/Wendoverproductions" />, <ANebula p="/wendover" />] <span class="e">Wendover Productions</span>
        <ul>
           <li>[<AYt p="/c/Extremities" />, <ANebula p="/extremities" />] <span class="e">Extremities</span></li>
           <li>[<AYt p="/c/halfasinteresting" />, <ANebula p="/hai" />] <span class="e">Half as Interesting</span></li>
        </ul>
    </li>
    <li>[<AYt p="/user/Xidnaf" />] <span class="e">Xidnaf</span></li>
</ul>

<h2>Videogames</h2>

<h3>Essays, Game Design, and Games Journalism</h3>

<ul>
    <li>[<AYt p="/channel/UCY3A_5R_m3PXCn5XDhvBBsg" />] <span class="e">Adam Millard (The Architect of Games)</span></li>
    <li>[<AYt p="/c/DarylTalksGames" />] <span class="e">Daryl Talks Games</span></li>
    <li>[<AYt p="/user/Warbot40" />] <span class="e">Design Doc</span></li>
    <li>[<AYt p="/extracredits" />, <ANebula p="/extracredits" />] <span class="e">Extra Credits</span></li>
    <li>[<AYt p="/c/MarkBrownGMT" />] <span class="e">Game Maker's Toolkit</span></li>
    <li>[<AYt p="/user/JimSterling" />] <span class="e">Jim Sterling</span></li>
    <li>[<AYt p="/c/JoshStrifeHayes" />] <span class="e">Josh Strife Hayes</span></li>
    <li>[<AYt p="/c/razbuten" />, <ANebula p="/razbuten" />] <span class="e">Razbuten</span></li>
    <li class="inactive">[<AYt p="/c/cynicalbrit" />] <span class="e">TotalBiscuit</span> <em>(No longer active.)</em></li>
</ul>

<h3>Let's Plays</h3>

<ul>
    <li>[<AYt p="/user/DexterityBonus" />, <ATwitch p="/dexbonus" />] <span class="e">Dodger</span></li>
    <li>[<AYt p="/c/jessecox" />, <ATwitch p="/jessecox" />] <span class="e">Jesse Cox</span></li>
</ul>

<h2>Consumer Technology/Computers</h2>

<ul>
    <li>[<AYt p="/c/crincl" />] <span class="e">crinacle</span></li>
    <li>[<AYt p="/user/GamersNexus" />] <span class="e">Gamers Nexus</span></li>
    <li>[<AYt p="/@HardwareCanucks" />] <span class="e">Hardware Canucks</span></li>
    <li>[<AYt p="/c/LinusTechTips" />] <span class="e">Linus Tech Tips</span></li>
    <li>[<AYt p="/user/bryaneasy" />] <span class="e">Tech YES City</span></li>
</ul>

<h2>Webcomics</h2>

<ul>
    <li>[<AWeb href="https://xkcd.com/" />] <span class="e">xkcd</span></li>
</ul>

<h2>Uncategorized</h2>

<ul>
    <li>[<AYt p="/c/Coxncrendorpodcast" />] <span class="e">Cox 'n' Crendor Podcast</span></li>
    <li>[<AYt p="/c/HealthyGamerGG" />, <ATwitch p="/healthygamer_gg" />] <span class="e">HealthyGamerGG</span></li>
    <li>[<AYt p="/c/improveverywhere" />] <span class="e">Improv Everywhere</span></li>
    <li>[<AYt p="/channel/UCGwu0nbY2wSkW8N-cghnLpA" />] <span class="e">Jaiden Animations</span></li>
    <li>[<AYt p="/c/hellomayuko" />] <span class="e">mayuko</span></li>
    <li>[<AYt p="/c/VivaLaDirtLeague" />] <span class="e">Viva La Dirt League</span></li>
    <li>[<AWeb href="https://waitbutwhy.com/" />] <span class="e">Wait But Why</span></li>
    <li>[<AYt p="/user/WongFuProductions" />] <span class="e">Wong Fu Productions</span></li>
</ul>

<h2>The Self-Promotion Section</h2>

Check out my stuff!

<ul>
    <li>[<AWeb href="https://blog.simshadows.com/" />] <span class="e">Blog and Personal Website</span></li>
    <li>[<AYt p="/channel/UCwKwh-ukQv4ihdjT28vBtpw" />] <span class="e">Videogame Footage</span></li>
    <li>[<AYt p="/channel/UCDFNbrzQY5esRMLnRMELvPQ" />] <span class="e">Videogame Footage #2</span></li>
    <li>[<AYt p="/channel/UCkMf8rvJ-oKfkNKbKmR3v8Q" />] <span class="e">Videogame Footage #3</span></li>
    <li>[<AYt p="/channel/UC0BZgs9YK4DGqEDP5ogC0KA" />] <span class="e">Videogame Footage #4</span></li>
    <li>[<AYt p="/channel/UC1yttspft0mOAK5eB6ikFaw" />] <span class="e">Non-Gaming Content</span></li>
    <li class="inactive">[<ATumblr handle="simishadows" />] <span class="e">Anime GIFs (mostly reposts, some originals.)</span> <em>(Currently inactive.)</em></li>
</ul>


</Layout>

